h1{
    color: blue;
    text-decoration: double;
    text-align: center;
    background-color: aqua;
}

body{
    background-color: pink; 
}

button{
    color: white;
    background-color: black;
     
}